

.hover:hover { 
    color: #64DEE9;
}

.whitetext { 
    color: white;
}
html{

}

body{

    /* This image will be displayed fullscreen */
    background:url('../images/background.png') no-repeat center center;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100vh;

    /* The Magic */
    background-size:cover;
    margin:0;
    padding: 0;
}

nav{
  opacity: 1;

}

.bigbox { 
    opacity: .96;
}

.custombigbox { 
    opacity: .96;
    background-color: #ffffff;
    margin-top: 27vh;
}