.profile .app_tab{position:relative;zoom:1;overflow:hidden}.pagelet_app_runner_centered{text-align:center}
.sp_7cUIBR9qpsC{background-image:url(/rsrc.php/v3/yE/r/89Fc3Xs3OLe.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_7cUIBR9qpsC.sx_c3137b{background-position:0 0}.sp_7cUIBR9qpsC.sx_e2dd6f{background-position:0 -17px}

#bootloader_3upcZ{height:42px;}.bootloader_3upcZ{display:block!important;}